* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
    margin: 10px;
}


h1 {
    font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
}


ol {
    list-style-type: lower-alpha;
    padding:  10px 0px 10px 40px;
}

button {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
}

#opening-screen {
    background-color: #ADD8E6;
    height: calc(100vh - 20px);
}

#opening-screen h1 {
    text-align: center;
    font-size: 3em;
    padding-top: 80px;
    padding-bottom: 20px;
}

#opening-screen p {
    padding: 0 20px;
}

#start-button {
    padding: 10px;
    width: 180px;
    height: 70px;
    margin: auto;
    margin-top: 20vh;
    background-color: #1E5162;
    color: #ffffff;
    border: none;
    display: block;
    transition: .2s;
    outline: none;
}

.next-button, .done-button {
    padding: 10px;
    margin: auto;
    margin-left: 20px;
    background-color: #1E5162;
    color: #ffffff;
    border: none;
    transition: .2s;
    outline: none;
}

#start-button:hover, .next-button:hover, .done-button:hover {
    background-color: #296E85;
    cursor: pointer;
    transition: .2s;
}

#start-button:active, .next-button:active, .done-button:active {
    outline: none;
    background-color: #1E5162;
}

#opening-screen, #section2, #section1, #completed-screen {
    display: none;
}

.section {
    background-color: #ADD8E6;
    padding: 20px;
}

.section h1 {
    font-size: 3em;
}

.section p {
    padding: 20px 0px 0px 20px;
}

.section ol {
    padding-left: 60px;
}

.input {
    margin-left: 20px;
    padding-left: 5px;
    height: 2em;
    font-family: 'Lato', sans-serif;
    border: 2px solid #888;
    outline: none;
}

.input:focus {
    border: 2px solid #555;
}